@model PMT.Models.TransactionVM

@{
    ViewBag.Title = ViewText.TransactionViewDeleteTitle;
}

<div class="panel panel-primary use-big-fonts">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">

        <h4>@MessagesText.TransactionDeleteWarningLine</h4>
        <div>
            <dl class="dl-horizontal">
                <dd>
                    @Html.DisplayFor(model => model.SubCategoryName)
                </dd>
                <dd>
                    @Html.DisplayFor(model => model.Amount)
                </dd>
                <dd>
                    @Html.DisplayFor(model => model.TransactionDate)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions">
                    <button type="submit" class="btn btn-danger"><i class="fa fa-fw fa-trash"></i> @ViewText.Delete</button>
                    <a href="@Url.Action("Index","Transactions",null)" class="btn btn-default"><i class="fa fa-fw fa-remove"></i> @ViewText.Cancel</a>
                </div>
            }
        </div>
    </div>
</div>
