@model Tuple<IEnumerable<PMT.Models.TransactionVM>, PMT.Models.TransactionFilterVM>

@{
    ViewBag.Title = ViewText.TransactionViewIndexTitle;
    var pager = (Pager)ViewBag.Pager;
}

<div class="panel panel-primary use-big-fonts">
    <div class="panel-heading">@ViewBag.Title
        <span class="@(pager.TotalPages<=1?"hidden":"")" style="float:right">@ViewText.Page @pager.CurrentPage / @pager.TotalPages</span>
    </div>
    <div class="panel-body">
        @Html.Partial("_TransactionsFilters", Model.Item2)
        @Html.Partial("_TransactionsTablePartial", Model.Item1)
        <div class="row  text-center">
            <div class="col-md-2">
                <a href="@Url.Action("Create","Transactions",null)" class="btn btn-default"><i class="fa fa-fw  fa-plus-circle"></i> @ViewText.CreateNew</a>
            </div>
            <div class="col-md-8">
                @Html.Partial("_PaginationPartial", new ViewDataDictionary { { "Pager", pager }, { "Controler", "Transactions" }, { "Action", "Index" } })
            </div>
            <div class="col-md-2">
                <a href="@Url.Action("Edit","Transactions", null)" id="transTableEditButton" class="btn btn-warning btn-sm"><i class="fa fa-fw fa-edit"></i> @ViewText.Edit</a>
                <a href="@Url.Action("Delete","Transactions",null)" id="transTableDeleteButton" class="btn btn-danger btn-sm"><i class="fa fa-fw fa-trash"></i> @ViewText.Delete</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="transactionDeleteModal" tabindex="-1" role="dialog" aria-labelledby="transactionDeleteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="transactionDeleteModalLabel">@ViewText.TransactionViewDeleteTitle</h4>
            </div>
            <div class="modal-body">
                <h4>@MessagesText.TransactionDeleteWarningLine</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="transTableDeleteConfirmButton" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            pmt.onDocumentLoadIndexTransaction();
        });
    </script>
}