@model IEnumerable<PMT.Models.TransactionVM>

@{
    ViewBag.Title = ViewText.TransactionViewIndexTitle;
}

<div class="panel panel-primary use-big-fonts">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <table class="transTable table table-striped table-condensed table-hover">
            <tbody>
                @foreach (var item in Model)
                {
                    
                    <tr>
                        <input type="hidden" class="transTableId" value="@item.TransactionId" />
                        <td class="col-md-1">
                            <div class="iconInTile text-center">
                                <i class="fa fa-fw @item.SubCategoryIcon"></i>
                            </div>
                        </td>
                        <td class="col-md-5">
                            <div>
                                <strong>@Html.DisplayFor(m => item.SubCategoryName)</strong>
                                @Html.DisplayFor(m=>item.Description)
                            </div>
                        </td>
                        <td class="col-md-4">
                            <div>
                                @Html.DisplayFor(m => item.FormattedDate)
                            </div>

                        </td>
                        
                        <td class="col-md-2 text-right @((item.Amount < 0) ? "negativeNumber":"")">
                            
                            @Html.DisplayFor(m=>item.FormattedAmount)
                        </td>
                    </tr>
                } 
            </tbody>
        </table>
        <div class="row  text-center">
            <div class="col-md-2">
                <a href="@Url.Action("Create","Transactions",null)" class="btn btn-default"><i class="fa fa-fw  fa-plus-circle"></i> @ViewText.CreateNew</a>
            </div>
            <div class="col-md-8">
                <ul class="pagination">
                    <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <a href="@Url.Action("Edit","Transaction", null)" id="transTableEditButton" class="btn btn-warning btn-sm"><i class="fa fa-fw fa-edit"></i> @ViewText.Edit</a>
                <a href="@Url.Action("Delete","Transaction",null)" id="transTableDeleteButton" class="btn btn-danger btn-sm"><i class="fa fa-fw fa-trash"></i> @ViewText.Delete</a>
            </div>
        </div>
    </div>
</div>

@section Scripts { 
    <script type="text/javascript">
        $(function () {
            pmt.onDocumentLoadIndexTransaction();
        });
    </script>
}