<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ViewText.ApplicationName</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="wrapper">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-header">
                        <i class="fa fa-fw fa-user"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".my-bar-collapse-side">
                        <i class="fa fa-fw fa-dollar"></i>
                    </button>
                    @Html.ActionLink(@ViewText.ApplicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbar-brand-full" })
                    @Html.ActionLink("PMT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbar-brand-short" })
                </div>
                <div class="navbar-collapse navbar-collapse-header collapse">
                    @Html.Partial("_LoginPartial")
                </div>

            </div>
        </div>
        <div class="row">
            <div class=" col-sm-3 col-md-2">
                <ul class="my-bar-collapse-side my-bar text-center use-big-fonts">
                    <li>
                        <a href="@Url.Action("Index","Home",null)" id="HomeLink"><div class="iconInTile"><i class="fa fa-fw fa-home"></i></div> @ViewText.QuickView</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Transactions",null)" id="TransactionsLink"><div class="iconInTile"><i class="fa fa-fw icon-wallet"></i></div> @ViewText.Transactions</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","MoneyAccounts",null)" id="MoneyAccountsLink"><div class="iconInTile"><i class="fa fa-fw fa-book"></i></div> @ViewText.Accounts</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Categories",null)" id="CategoriesLink"><div class="iconInTile"><i class="fa fa-fw icon-list-alt"></i></div> @ViewText.Categories</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Reports",null)" id="ReportsLink"><div class="iconInTile"><i class="fa fa-fw fa-pie-chart"></i></div> @ViewText.Reports</a>
                    </li>
                    @*<li>
                        <a href="@Url.Action("Index","Recurring",null)" id="RecurringLink"><div class="iconInTile"><i class="fa fa-fw fa-calendar-times-o "></i></div> @ViewText.Recurring</a>
                    </li>*@
                    <li>
                        <a href="@Url.Action("Index","Settings",null)" id="SettingsLink"><div class="iconInTile"><i class="fa fa-fw fa-wrench"></i></div> @ViewText.Other ...</a>
                    </li>
                </ul>
            </div>
            <div class="container mcontent col-sm-9 col-md-10">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Pantelis Ioannidis</p>
                </footer>
            </div>
        </div>
    </div>

    <input type="hidden" name="myBarSelector" value="@((HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()) + "Link")">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/js/app")
    @{
            var commonHelper = new CommonHelper();
            var serverCulture = commonHelper.GetServerCulture();
    }
    <script type="text/javascript">
        pmt.rootPath = '@Request.Url.Authority';
        pmt.currentLocal = navigator.language || navigator.userLanguage;
        if (!pmt.currentLocal)
            pmt.currentLocal = '@serverCulture';
        $(function () {
            pmt.onDocumentLoadMaster();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>



</html>
