<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ViewText.ApplicationName</title>
    <link href="@ViewBag.ThemeBootstrap" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    <link href="@ViewBag.ThemeCustomCss" rel="stylesheet" />
    @Styles.Render("~/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>


    <div id="wrapper">
        <div id="divLoading">
            <p id="spinner" class="text-center">
                <img src="~/Content/images/ajax-loader.gif" />
                <br />
            </p>
            
        </div>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-header">
                        <i class="fa fa-fw fa-user"></i>
                    </button>
                    @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".my-bar-collapse-side">
                        <i class="fa fa-fw fa-dollar"></i>
                    </button>*@
                    @Html.ActionLink(@ViewText.ApplicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbar-brand-full" })
                    @Html.ActionLink("PMT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbar-brand-short" })
                </div>
                <div class="navbar-collapse navbar-collapse-header collapse">
                    @Html.Partial("_LoginPartial")
                </div>

            </div>
        </div>
        <div class="row">
            <div class=" col-sm-3 col-md-2">
                <ul class="my-bar-collapse-side my-bar text-center use-big-fonts">
                    <li>
                        <a href="@Url.Action("Index","Home",null)" id="HomeLink"><div class="iconInTile longProcess"><i class="fa fa-fw fa-home"></i></div> @ViewText.QuickView</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Transactions",null)" id="TransactionsLink"><div class="iconInTile longProcess"><i class="fa fa-fw icon-wallet"></i></div> @ViewText.Transactions</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","MoneyAccounts",null)" id="MoneyAccountsLink"><div class="iconInTile longProcess"><i class="fa fa-fw fa-book"></i></div> @ViewText.Accounts</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Categories",null)" id="CategoriesLink"><div class="iconInTile longProcess"><i class="fa fa-fw icon-list-alt"></i></div> @ViewText.Categories</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Settings",null)" id="SettingsLink"><div class="iconInTile longProcess"><i class="fa fa-fw fa-wrench"></i></div> @ViewText.Settings</a>
                    </li>
                    <li>
                        <a href="@Url.Action("About","Home",null)" id="SettingsLink"><div class="iconInTile longProcess"><i class="fa fa-fw fa-info"></i></div> @ViewText.About</a>
                    </li>
                </ul>
            </div>
            <div class="container mcontent col-sm-9 col-md-10">
                @Html.Partial("_NotificationAreaPartial", new Tuple<string,string,string>(ViewBag.NotificationSuccess, ViewBag.NotificationDanger, ViewBag.NotificationWarning))
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Pantelis Ioannidis</p>
                </footer>
            </div>
        </div>
    </div>

    @Html.Partial("_LocalizedResources")

    <input type="hidden" name="myBarSelector" value="@((HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()) + "Link")">


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/handlebars")
    @Scripts.Render("~/bundles/chart")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/js/app")
    @{
        var commonHelper = new CommonHelper();
        var serverCulture = Html.Action("GetCulture","Base",null);
    }
    <script type="text/javascript">
        pmt.rootPath = '@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))';
        pmt.currentLocal = '@serverCulture';
        if (!pmt.currentLocal)
            pmt.currentLocal = navigator.language || navigator.userLanguage;

        $(function () {
            pmt.onDocumentLoadMaster();

        });
    </script>
    @RenderSection("scripts", required: false)
</body>



</html>
