@model PMT.Web.Models.ManageLoginsViewModel
@using Microsoft.Owin.Security
@{
    ViewBag.Title = IdentityText.ManageYourExternalLogins;
}
<div class="panel panel-primary use-big-fonts">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">

        <p class="text-success">@ViewBag.StatusMessage</p>
        @{
            var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
            if (loginProviders.Count() == 0)
            {
                <div>
                    <p>
                        @IdentityText.ManageLogingsMessage1 <a href="https://go.microsoft.com/fwlink/?LinkId=313242">@IdentityText.ManageLogingsMessage3</a>
                        @IdentityText.ManageLogingsMessage2
                    </p>
                </div>
            }
            else
            {
                if (Model.CurrentLogins.Count > 0)
                {
                    <h4>Registered Logins</h4>
                    <table class="table">
                        <tbody>
                            @foreach (var account in Model.CurrentLogins)
                    {
                                <tr>
                                    <td>@account.LoginProvider</td>
                                    <td>
                                        @if (ViewBag.ShowRemoveButton)
                                        {
                                            using (Html.BeginForm("RemoveLogin", "Manage"))
                                            {
                                                @Html.AntiForgeryToken()
                                                <div>
                                                    @Html.Hidden("loginProvider", account.LoginProvider)
                                                    @Html.Hidden("providerKey", account.ProviderKey)
                                                    <input type="submit" class="btn btn-default" value="@IdentityText.Remove" title="@IdentityText.RemoveThis @account.LoginProvider @IdentityText.LoginFromYourAccount" />
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            @: &nbsp;
                                }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                if (Model.OtherLogins.Count > 0)
                {
                    using (Html.BeginForm("LinkLogin", "Manage"))
                    {
                        @Html.AntiForgeryToken()
                        <div id="socialLoginList">
                            <p>
                                @foreach (AuthenticationDescription p in Model.OtherLogins)
                                {
                                    <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="@IdentityText.LogInUsingYour @p.Caption @IdentityText.Account">@p.AuthenticationType</button>
                                }
                            </p>
                        </div>
                    }
                }
            }
        }
    </div>
</div>
