@model List<PMT.Entities.Category>
@{
    ViewBag.Title = ViewText.CategoriesViewIndexTitle;
}
<input type="hidden" id="selectedCategory" value="" />
<div class="panel panel-primary use-big-fonts">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body row">
        <div class="col-md-3">
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active">
                    <a href="#incomeTab" role="tab" data-toggle="tab">Income</a>
                </li>
                <li role="presentation">
                    <a href="#expensesTab" role="tab" data-toggle="tab">Expenses</a>
                </li>
            </ul>

            <br />

            <div class="text-center">
                <a href="#" id="editCategoryBtn" class="btn btn-warning btn-sm"><i class="fa fa-fw  fa-edit"></i> @ViewText.Edit</a>
                <a href="#" id="deleteCategoryBtn" class="btn btn-danger btn-sm"><i class="fa fa-fw  fa-trash"></i> @ViewText.Delete</a>
                <br />
                <a href="#" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-fw  fa-plus"></i> @ViewText.CreateNew
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a id="newCategoryBtn" href="#">@ModelText.Category</a></li>
                    <li><a id="newSubCategoryBtn" href="#">@ModelText.SubCategory</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            @Html.Partial("_IndexPanelPartial", Model)
        </div>
    </div>
</div>

@Html.Partial("_DeletePartial")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            pmt.onDocumentLoadIndexCategories();
        });
    </script>
}
