@model PMT.Entities.MoneyAccount

@{
    ViewBag.Title = ViewText.MoneyAccountsViewDeleteTitle;
}

<div class="panel panel-primary use-big-fonts">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">

        <h4>@MessagesText.MoneyAccountsDeleteWarningLine1</h4>
        <h5>@MessagesText.MoneyAccountsDeleteWarningLine2</h5>
        <div>
            <dl class="dl-horizontal">

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions">
                    <button type="submit" class="btn btn-danger"><i class="fa fa-fw fa-trash longProcess"></i> @ViewText.Delete</button>
                    <a href="@Url.Action("Index","MoneyAccounts",null)" class="btn btn-default longProcess"><i class="fa fa-fw fa-remove"></i> @ViewText.Cancel</a>
                </div>
            }
        </div>
    </div>
</div>
